// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body>*{
  margin: 0 auto;
  width:90%;
}
.flash-alert{
  font-size: 18px;
  color: red;
}
@media (max-width: 1119px) {
  #map {
    width: 100%;
    height: 40vh;
  }  
  #form-group{
    width: 100%;
    margin-top: 10px;
  } 
  .d-flex{
  }  
}
@media (min-width: 1200px) {
  #map {
    width: 50%;
    height: 60vh;
  }
  #form-group{
    width: 45%;
    margin-left: 10px;
  }  
  .d-flex{
    display: flex;
  }  
}